html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end browser reset */

body {
    min-width: 1440px;
  }
  .container_12 {
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
    overflow: hidden;
  }
  .grid_1,
  .grid_2,
  .grid_3,
  .grid_4,
  .grid_5,
  .grid_6,
  .grid_7,
  .grid_8,
  .grid_9,
  .grid_10,
  .grid_11,
  .grid_12
  {
    display:inline;
    float: left;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .alpha {
    margin-left: 0;
  }
  .omega {
    margin-right: 0;
  }
  .container_12 .grid_1 {
    width: 100px
  }
  .container_12 .grid_2 {
    width: 220px
  }
  .container_12 .grid_3 {
    width: 340px
  }
  .container_12 .grid_4 {
    width: 460px
  }
  .container_12 .grid_5 {
    width: 580px
  }
  .container_12 .grid_6 {
    width: 700px
  }
  .container_12 .grid_7 {
    width: 820px
  }
  .container_12 .grid_8 {
    width: 940px
  }
  .container_12 .grid_9 {
    width: 1060px
  }
  .container_12 .grid_10 {
    width: 1180px
  }
  .container_12 .grid_11 {
    width: 1300px
  }
  .container_12 .grid_12 {
    width: 1420px
  }

  .push1{
    margin-left: 120px;
  }

  .push2{
    margin-left: 240px;
  }

  .push3{
    margin-left:360px;
  }

  .push4{
    margin-left: 480px;
  }

  .push5{
    margin-left: 600px;
  }

  .push6{
    margin-left: 720px;
  }

  .push7{
    margin-left: 840px;
  }

  .push8{
    margin-left: 960px;
  }

  .push9{
    margin-left: 1080px;
  }

  .push10{
    margin-left: 1200px;
  }

  .push11{
    margin-left: 1320;
  }

  .pull1{
    margin-right: 120px;
  }

  .pull2{
    margin-right: 240px;
  }

  .pull3{
    margin-right:360px;
  }

  .pull4{
    margin-right: 480px;
  }

  .pull5{
    margin-right: 600px;
  }

  .pull6{
    margin-right: 720px;
  }

  .pull7{
    margin-right: 840px;
  }

  .pull8{
    margin-right: 960px;
  }

  .pull9{
    margin-right: 1080px;
  }

  .pull10{
    margin-right: 1200px;
  }

  .pull11{
    margin-right: 1320;
  }

.row{
display: flex;
flex-wrap: wrap;
}
