html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    min-width: 1440px;
  }
  .container_12 {
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
    overflow: hidden;
  }
  .grid_1,
  .grid_2,
  .grid_3,
  .grid_4,
  .grid_5,
  .grid_6,
  .grid_7,
  .grid_8,
  .grid_9,
  .grid_10,
  .grid_11,
  .grid_12
  {
    display:inline;
    float: left;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
  }
  .alpha {
    margin-left: 0;
  }
  .omega {
    margin-right: 0;
  }
  .container_12 .grid_1 {
    width: 100px
  }
  .container_12 .grid_2 {
    width: 220px
  }
  .container_12 .grid_3 {
    width: 340px
  }
  .container_12 .grid_4 {
    width: 460px
  }
  .container_12 .grid_5 {
    width: 580px
  }
  .container_12 .grid_6 {
    width: 700px
  }
  .container_12 .grid_7 {
    width: 820px
  }
  .container_12 .grid_8 {
    width: 940px
  }
  .container_12 .grid_9 {
    width: 1060px
  }
  .container_12 .grid_10 {
    width: 1180px
  }
  .container_12 .grid_11 {
    width: 1300px
  }
  .container_12 .grid_12 {
    width: 1420px
  }


  .push{

  }

  .pull{

  }

  .header-row {
    background-color: black;
    height: 8vh;
    width: 100vw;
    }

  .little-row {
  border: 5pt solid red;
  background-color: pink;
  height: 15vh;
  width: 100vw;
  }

  .med-row{
    border: 5pt solid red;
    height: 30vh;
    width: 100vw;
  }

  .big-row{
    border: 5pt solid red;
    background-color: rgb(36, 180, 180);
    height: 50vh;
    width: 100vw;
  }